.carousel-inner img {
    max-height: 480px;
        /* atur sesuai kebutuhan */
    object-fit: cover;
        /* agar gambar tetap proporsional */
}

.text-stroke {
    -webkit-text-stroke: 1px black;
        /* For WebKit browsers (Chrome, Safari) */
    color: white;
        /* Color of the text inside the stroke */
}

.comic-card {
    width: 280px;
    max-width: 280px;
    height: 400px;
    max-height: max-content;
}

.cover {
    height: 400px;
}